.newpost, .requestpost {
    background: #eee7e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 200px;
}



.newpost .main-title-wrap,
.requestpost .main-title-wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.newpost .main-title-wrap .main-title,
.requestpost .main-title-wrap .main-title {
    padding-bottom: 20px;
    text-align: center;
}
.newpost .main-title-wrap .button-wrap{
    width: 60%;
    display: flex;
    justify-content: right;
    padding: 20px;
}
.requestpost .main-title-wrap .button-wrap,
.newpost .main-title-wrap .button-wrap{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;

}

.requestpost .main-title-wrap .button-wrap .form-select {
    width: 70%;
}

.newpost .main-title-wrap .button-wrap .search {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}
.newpost .main-title-wrap .button-wrap .search select {
    width: 100px;
    height: 37px;
}

.newpost .main-title-wrap .button-wrap .search .sc-kw {
    width: 50%;
    height: 37px;

}

.newpost .main-title-wrap .button-wrap .add-btn {
    width: fit-content;

}
.newpost .main-title-wrap .button-wrap .add-btn:hover {
    background: rgb(229, 134, 151);
}
.newpost .main-title-wrap .button-wrap .btn,
.requestpost .main-title-wrap .button-wrap .btn {
    width: 80px;
    background: rgba(155, 47, 71, 0.9);
    color: #fff;
    border-radius: 5px 5px;
}

.newpost .board-bottom,
.requestpost .board-bottom {
    padding: 30px 0;
}

.newpost .board-bottom .bbul,
.requestpost .board-bottom .bbul {
    display: flex;
    justify-content: center;
    align-content: center;
}
.newpost .board-bottom .bbul .page-link,
.requestpost .board-bottom .bbul .page-link {
    padding: 6px 18px;
    color: #000;
}

