.detail-wrap {
    background: #eee7e7;
    font-weight: 600;
}


.detail-wrap .form-container {
    text-align: center;
    padding: 200px;

}

.form-container .title {
    font-size: 2.1rem;
    padding-bottom: 50px;
}

.form-container .labelbox {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    border-bottom: 1.5px solid #494949;
}
.form-container .labelbox .column {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: flex-start;
    flex-direction: row;
}

.form-container .labelbox .column label {
    padding-right: 5px;
}

.content {
    padding-top: 100px;
}
.form-container .buttons {
    padding: 60px;
    border-bottom: 1.5px solid #494949;
}
.buttons .list-btn {
    width: 80px;
    height: 30px;
    background: rgba(155, 47, 71, 0.9);
    color: #fff;
    border-radius: 5px 5px;
}
.comment-add {
    padding: 50px;
}

.comment-add #addBtn {
    width: 80px;
    height: 30px;
    background: rgba(155, 47, 71, 0.9);
    color: #fff;
    border-radius: 5px 5px;
}


.ss {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: #ffffff;*/
    padding: 10px;
    margin: 20px;

}

.ss .bgc {
    width: 60%;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: 1.5px solid #c49c9c;
    border-radius: 3px;
}

.ss .commentbox {
    display: flex;
    gap: 5px;
    flex-direction: column;
    width: 60%;
    margin: 20px;
    text-align: left;
}

.ss .commentbox .column {
    display: flex;
    gap: 5px;
}
.ss .Recommendation {
    width: 40%;
    background: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 10px 0;
    gap: 10px;
}
.ss .lnr-thumbs-up,
.ss .lnr-thumbs-down {
    background: none;
    font-size: 30px;
}

.c {
    display: flex;
    justify-content: center;
    align-items: center;
}
.c .add-btn {
    width: 80px;
    height: 30px;
    background: rgba(155, 47, 71, 0.9);
    color: #fff;
    border-radius: 5px 5px;
}



