

.recruitment-write-section{
    width: 100%;
    padding-top: 30vh;
}

.recruitment-write-section .recruitment-form-container{
    /*width: 40%;*/
    /*margin: 30vh 30vh;*/
    /*margin-top: 30vh;*/
    padding: 1.2em;
    border: 5px solid #494949;
    border-radius: 10px;
    background: #FFD98D;

    /*display: flex;
    flex-flow: row wrap;
    justify-content: start; align-content: center;*/
}

.rp-write-board-contain{
    display: flex;
    flex-flow:  column wrap;
    justify-content: start;
}

    /* 게시판 제목 */
    .rp-type-item{
        width: 50%;
        background: #FFFFFF;
        border-radius: 60px;
        display: flex; flex-flow: row nowrap;
        justify-content: start;
        padding: 10px;
    }

        .rp-type-item .icon-type {
            /*width: 60px; height: 60px;*/
            border-radius: 50%;
            background: #FFD98D;
            color: #ff7b40;
            padding: 10px;
            /*display: flex; align-items: center;*/
        }
        /* title - input */
        .rp-type-item .rp-title{
            border: 0;
            font-size: 1.5em; font-weight: bold;
        }

        .rp-type-item .rp-title:hover
        , .rp-type-item .rp-title:focus{
            border: #ffffff00;
            /*outline: none;*/
        }

        .rp-type-item .form-select{
            border: 0;
            margin: 0 10px;
            font-size: 1.5em; font-weight: bold;
        }

    /* 게시판 내용 */
    .rp-board-content{
        background: #fff;
        padding: 20px;
        border-radius: 20px;
    }
    .rp-sub-title-content{
        width: 20%;
        background: #FFFFFF;
        border-radius: 60px;
        display: flex; flex-flow: row nowrap;
        /*justify-content: start;*/
        padding: 10px;
        border: 3px solid #ff7b40;
    }
        .rp-sub-title-content .content-icon{
            border-radius: 50%;
            background: #FFD98D;
            color: #ff7b40;
            padding: 10px;
        }

        .rp-sub-title-content .rp-content-sub-item{
            font-size: 1.5em; font-weight: bold;
            padding: 10px;
            margin: 0 10px;
            /*background: #18c722;*/
        }

        .rp-content-write{
            border: 0;
            padding-top: 20px;
            font-size: 1.3em; font-weight: bold;
        }

    /* 모집 인원수*/
    .rp-count-item{
        width: 50%;
        background: #FFFFFF;
        border-radius: 60px;
        display: flex; flex-flow: row nowrap;
        justify-content: start; align-items: center;
        padding: 10px;
    }

        .rp-count-item .count-icon{
            border-radius: 50%;
            background: #FFD98D;
            color: #ff7b40;
            padding: 10px;
        }

        .rp-count-item .rp-count-sub-item{
            font-size: 1.2em; font-weight: bold;
            padding: 10px;
            margin: 0 10px;
        }

        .rp-count-item .count-num{
            border: 0;
            font-size: 1.2em; font-weight: bold;
        }

    /* 모집 기간 */
    .rp-end-date-item{
        width: 60%;
        background: #FFFFFF;
        border-radius: 60px;
        display: flex; flex-flow: row nowrap;
        justify-content: start; align-items: center;
        padding: 10px;
    }

        .rp-end-date-item .date-icon{
            border-radius: 50%;
            background: #FFD98D;
            color: #ff7b40;
            padding: 10px;
        }

        .rp-end-date-item .rp-date-item{
            font-size: 1.2em; font-weight: bold;
            padding: 10px;
            margin: 0 10px;
        }

        .rp-end-date-item .end-date-calendar ,
        .rp-end-date-item .end-time-clock{
            border: 0;
            font-size: 1.2em;
        }

    .buttons-item {
        background: #ff8f61;
        width: 100%; height: 10vh;

        display: flex; flex-flow: row nowrap;
        justify-content: end;

        padding: 20px;
    }

    .list-item
    , .put-up-item
    {
        display: flex; flex-flow: row nowrap;
        justify-content: center; align-items: center;
        padding: 20px;
        background: #FFFFFF;
        margin: 0 15px;

    }

    .list-item .list-icon
    , .put-up-item .put-up-icon
    {
        padding: 10px;
        border-radius: 50%;

    }

    .list-item .put-btn
    , .put-up-item .put-btn
    {
        font-size: 1.2em; font-weight: bold;
    }

    /* 모임 장소 */
    .address-info-item{
        width: 60%;
        background: #FFFFFF;
        border-radius: 60px;
        display: flex; flex-flow: row nowrap;
        justify-content: start; align-items: center;
        padding: 10px;
    }
    /* 모임 장소 아이콘*/
    .address-info-item .address-icon{
        border-radius: 50%;
        background: #FFD98D;
        color: #ff7b40;
        padding: 10px;
    }
    /* 서브 타이틀*/
    .address-info-item .address-sub-title{
        font-size: 1.2em; font-weight: bold;
        padding: 10px;
        margin: 0 10px;
    }
    /*  모임 장소 입력창 */
    .address-info-item .address-write-item{
        /*display: flex; flex-flow: row nowrap;*/
        border: 0;
        font-size: 1.5em; font-weight: bold;
        /*text-align: center;*/
        display: flex; align-content: center;
    }

        .address-write-item .form-group{
            display: flex; flex-flow: row nowrap;
        }
        .address-write-item .form-group .row-ph{
            display: flex; flex-flow: row nowrap;
        }