/* 사이드 메뉴 */
.side-menu{
    display: flex;
    /*background: #aaa;*/
    /*background: rgba(255, 255, 255, 0.8);*/
    height: 50vh; width: 250px;
    /* min-width: 200px; */
    /*font-family: 'IBM Plex Sans';*/
    /*font-weight: 700;*/
    /*border-radius: 0 5px 5px 0;*/
    margin-left: 1%;
    position: fixed;
    left: 0; bottom: 20%;
}

.side-menu .img {
    width: 100%;
    object-fit: fill;
}

/*!* 나의 활동 리스트 *!*/
/*.side-menu ul{*/
/*    padding-left: 0; margin-bottom: 0;*/
/*}*/

/*!* 타이틀 "나의 활동" - 꾸지면 바꾸등가 *!*/
/*.side-menu .my-activities .activity-title{*/
/*    padding: 1.5em;*/

/*}*/

/*!* 나의 활동 li *!*/
/*.side-menu .my-activities .one-activity{*/
/*    padding: 1.2em;*/

/*    display: flex; align-items: center;*/
/*}*/

/*.side-menu .my-activities .one-activity .activity-img{*/
/*    margin-right: 15px;*/
/*    border-radius: 10px;*/
/*    background: #FFD98D;*/
/*    width: 45px; height: 45px;*/
/*}*/

/*.side-menu .my-activities .one-activity .activity-name{*/

/*}*/

/*.side-menu .my-activities .activity-title*/
/*, .side-menu .my-activities .one-activity{*/
/*    border-bottom: 1px solid #808080;*/
/*}*/