<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.damoim.post.repository.PostMapper">

    <select id="findAll" resultType="com.project.damoim.post.entity.Post">
        SELECT
        *
        FROM tb_post
        ORDER BY post_no DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <select id="findByLoginUserPost" resultType="com.project.damoim.post.entity.Post">
        SELECT
        *
        FROM tb_post as a
        JOIN tb_member as b
        ON a.member_id = b.member_id
        WHERE a.member_id = #{memberId}
    </select>

    <select id="postSort" resultType="com.project.damoim.post.entity.Post">
        SELECT
            post_no, post_title, post_view_count
        FROM tb_post
        ORDER BY post_view_count DESC
        LIMIT 0, 5
    </select>

    <select id="findOne" resultType="com.project.damoim.post.entity.Post">
        SELECT * FROM tb_post
        WHERE post_no = #{postNo}
    </select>

    <insert id="save">
        INSERT INTO tb_post
        (post_title, post_content, post_view_count, member_id)
        VALUES (#{postTitle}, #{postContent}, #{postViewCount}, #{memberId})
    </insert>

    <delete id="delete">
        DELETE FROM tb_post
        WHERE post_no = #{postNo}
    </delete>

    <update id="updateViewCount">
        UPDATE tb_post
        SET post_view_count = post_view_count + 1
        WHERE post_no = #{postNo}
    </update>

    <select id="postMaxCount" resultType="int">
        SELECT COUNT(*)
        FROM tb_post;
    </select>


</mapper>